{% extends 'index.html' %}

{% block content %}


<div class="col-11 shadow p-3 mb-5 bg-body rounded justify-content-center">
  <h1>Dispositivos</h1>
  <p>Seleccione un dispositivo</p>

  <select class="form-select form-select-lg fw-bold text-center shadow-sm mb-5" onchange="location = this.value;">
    {% for device in devices|sort %}
    {% set renamed_device = renombrar.get(device, device) %}
    {% if renamed_device not in ignorar %}
    <option value="/dispositivos/{{ device }}" {% if active_device==device %}selected{% endif %}>{{ renamed_device }}
    </option>
    {% endif %}
    {% endfor %}
    <option value="/dispositivos" {% if not active_device %}selected{% endif %}>Todos</option>
  </select>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="{{ device }}" role="tabpanel" aria-labelledby="{{ device }}-tab">


      <a class="row hover-zoom mx-auto py-2 text-decoration-none link-light bg-primary justify-content-center fw-bold"
        data-bs-toggle="collapse" href="#capturasCollapse" role="button" aria-expanded="true"
        aria-controls="capturasCollapse">Capturas</a>
      <div class="col collapse multi-collapse" id="capturasCollapse">
        {% include 'capturas.html' %}
      </div>


      <a class="row hover-zoom mx-auto pt-2 pb-2 text-decoration-none link-light bg-info justify-content-center fw-bold"
        data-bs-toggle="collapse" href="#videosCollapse" aria-expanded="true" aria-controls="videosCollapse">Videos</a>
      <div class="col collapse multi-collapse" id="videosCollapse">
        {% include 'videos.html' %}
      </div>

    </div>
  </div>
</div>


{% endblock %}