{% block content %}
<div class="row justify-content-center">




    {% for filename, file_data in report_table.groupby('File Name') %}
    <div class="card mb-3">
        <div class="card-header">
            {{ filename|replace('.mp4', '') }}
            <br>
            <a class="btn btn-primary" role="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ filename|replace('.mp4', '') }}" aria-expanded="true" aria-controls="collapse-{{ filename|replace('.mp4', '') }}">
            Ver horas de reproducción
            </a>
        </div>
        <div class="card-body">           
            <div class="collapse" id="collapse-{{ filename|replace('.mp4', '') }}">
                <div class="card card-body">
                    <table>
                        <thead>
                          <tr>
                            <th>Start Time</th>
                            <th>End Time</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          {% for index, row in file_data.iterrows() %}
                            <tr>
                              <td>{{ row['Start Time (GMT-6)'] }}</td>
                              <td>{{ row['Start Time (GMT-6)'] }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      
                </div>
            </div>
        </div>
    </div>
    {% endfor %}





    <!--div class="row">
        {% for row in report_table.values %}
          <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
              <div class="card-body">

                <p class="lh-1 fw-light fs-6">Nombre: </p>
                <h5 class="card-title badge bg-primary">{{ row[4] }}</h5>
                <p class="lh-1 fw-light fs-6">Inició:</p>
                <p class="card-subtitle badge rounded-pill bg-secondary">{{ row[1] }}</p>
                <p class="lh-1 fw-light fs-6">Terminó:</p>
                <p class="card-subtitle badge rounded-pill bg-secondary">{{ row[1] }}</p>
                
              </div>
            </div>
          </div>
        {% endfor %}
      </div-->






</div>

{% endblock %}