{% block content %}
<div class="row justify-content-center">
    
    
    <table class="col-9">
        <thead>
          <tr>
            {% for column in report_table.columns %}
              <th>{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in report_table.values %}
            <tr>
              {% for value in row %}
                <td>{{ value }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% for row in results %}
      <div class="col">
          <div class="card shadow-sm p-3 mb-5 bg-body rounded">
              <img src="{{row.FilePath}}" class="card-img-top" alt="{{row.FilePath}}" href="{{row.FilePath}}">
              <div class="card-body lh-1 bg-light">
                  <p class="lh-1 fw-light fs-6">Dispositivo: </p>
                  <h5 class="card-title badge bg-primary">{{ row['Label'] }}</h5>
                  <p class="lh-1 fw-light fs-6">Id: </p>
                  <span class="badge rounded-pill bg-info text-dark">{{ row['DeviceID'] }}</span>
                  <p class="lh-1 fw-light fs-6">Fecha y hora</p>
                  <p class="card-subtitle badge rounded-pill bg-secondary">{{ row['LocalTimeStamp'] }}</p>
                  
                  
              </div>
          </div>
      </div>
  {% endfor %}

      


</div>

{% endblock %}